.divider-parent{
	display: flex;
	justify-content: center;
	align-items: center;
}
.divider-child img{
	position: relative;
	height: 20rem;
	width: 100vw;
	
}

@media (width <=768px) {
	.child img{
		right: 0;
	}
}
