.lb {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

 
.header {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 1023px) {

  .menu {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
  }
}